rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /linked_accounts/{accountId} {
      allow read, write: if true;
    }
    match /temp_messages/{messageId} {
      allow read, write: if true;
    }
  }
}
